<form (ngSubmit)="(editPost())" style="width: 600px; margin: 30px">
  <h3>Add Post</h3>

  <div class="form-group">
    <label for="header">Header</label>
    <input type="text" class="form-control" id="header" name="header" [(ngModel)]="post.header" required>
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <textarea class="form-control" id="text" name="text" [(ngModel)]="post.text" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
