<add-post></add-post>
<div class="row"></div>
  <div *ngFor="let post of posts" class="card col" style="width: 25rem; margin: 20px 40px">
    <div class="card-body ">
      <a [routerLink]="['/posts/' + post.id]" class="card-title" routerLinkActive="active" ariaCurrentWhenActive="page">{{ post.header }}</a>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.first_name }} {{ user.last_name }} on {{ post.date | date }}</h6>
      <p class="card-text">{{post.text}}</p>

    </div>

  </div>
