<h4 style="margin: 20px 0 0 30px ">Profile</h4>
<div class="card border-dark mb-3" style="width: 25rem; margin: 30px">
  <div class="card-header">
    <h5 class="card-title"> {{ user.first_name }} {{ user.last_name }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"  >{{ user.login }} </h6>
  </div>
  <div class="card-body">

    <p class="card-text">{{user.status}}</p>

  </div>

</div>


<div *ngFor="let post of posts" class="card" style="width: 25rem; margin: 30px">
  <div class="card-body">
    <a [routerLink]="['/posts/' + post.id]" class="card-title" routerLinkActive="active" ariaCurrentWhenActive="page">{{ post.header }}</a>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.first_name }} {{ user.last_name }} on {{ post.date | date }}</h6>
    <p class="card-text">{{post.text}}</p>
    <button (click)="deletePostByClick(post.id)" >Delete</button>     <button (click)="editPost(post.id)" style="margin-left: 10px " >Edit</button>

  </div>

</div>
